{
  "presets": [[
    "@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "ie >= 9",
          "iOS >= 8",
          "Android >= 4"
        ]
      },
      "modules": false,
      "useBuiltIns": false,
      "debug": false
    }
  ], "@babel/preset-react"],
  "plugins": [[
    "@babel/plugin-transform-runtime", {
      "corejs": 3
    }
  ]]
}
