{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "amd": true
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "rules": {
		"indent": ["error", "tab"],
		"import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
		"import/extensions": "off",
		"import/no-unresolved": "off",
		"import/prefer-default-export": "off",
		"linebreak-style": "off",
		"no-tabs": "off",
		"no-param-reassign": "off",
		"react/prop-types": "off"
  },
  "globals": {
    "MOCK": false,
    "CODE_VERSION": false,
    "logger": false
  }
}